<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
</head>
  {% extends "layout.html" %}
  {% block title %}Profiili{% endblock %}
  {% block body %}
  <p>
    <h1>Luo käyttäjä</h1>
    <form action="/create-account" method="POST">
    Käyttäjänimi:<br>
    Käytättäjänimen tulee olla vähintään 6 merkkiä <br>
    <input type="text" name="username" required minlength="6" maxlength="20"><br><br>
    Salasana:<br>
    Salasanan tulee olla vähintään 8 merkkiä <br>
    <input type="password" name="password1" required minlength="8" maxlength="20"><br><br>
    Salasana uudestaan:<br>
    <input type="password" name="password2" required minlength="8" maxlength="20"><br>
    <br>
    <input type="submit" value="Luo käyttäjä"><br>
    </form>
    <br>
    <a href="/">Etusivulle</a>
  </p>
  {% endblock %}
  

</html>