<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8"> 
</head>
  
  {% extends "layout.html" %}
  {% block title %}kaikki kasvit{% endblock %}
  {% block body %}
  <h3>Kaikki palautteet</h3>
  <p>Palautteita yhteensä: {{ count }} kpl</p>
  {% if session.username %}
  <p>Olet kirjautunut nimellä {{ session.username }}</p>
  <hr>
  {% for message in messages %}
  {{message.username}}: {{ message.content }}
  <hr>
  {% endfor %}
  <a href="/new_message">Lähetä palaute</a>
  {% else %}
  <p>Kirjaudu sisään nähdäksesi palautteet</p>
  <a href="/login_page">Kirjaudu sisään tästä</a>
  {% endif %}
  |
  <a href="/">Etusivulle</a>
  {% endblock %}

</html>