<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
</head>

  {% extends "layout.html" %}
  {% block title %}Etusivu{% endblock %}
  {% block body %}
  <h1>Kasvikauppa</h1>
  <h2>Etusivu</h2>
  <img src="/static/flower_test.png"
        width="500"
        height="450" />
    <br>
  <p>{{ message }}</p>
  {% if session.username %}
  <p>Olet kirjautunut käyttäjänimellä {{ session.username }}</p>
  <a href="/logout">Kirjaudu ulos</a>
  <br>
  {% endif %}
  <a href="/login_page">Profiili</a>
  <br>
  <a href="/messages">Anna palautetta</a>
  <br>
  <a href="/all-plants-page">Kaikki kasvit</a>
  <br>
  <br>
  Sovelluksen käyttäjien arvio: {{ avg }} tähteä.
  <br>   
  {% endblock %}

</html>