<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
</head>

  {% extends "layout.html" %}
  {% block title %}Uusi palaute{% endblock %}
  {% block body %}
  <h3>Anna palautetta:</h3>
  <p>
    <form action="/send" method="POST" onsubmit="return check(this)">
    Arvio:
    <input type="radio" name="stars" value="1">1
    <input type="radio" name="stars" value="2">2
    <input type="radio" name="stars" value="3">3
    <input type="radio" name="stars" value="4">4
    <input type="radio" name="stars" value="5">5
    <input type="radio" name="stars" value="0">Ei tähtiarvostelua <br>
    Palaute: 
    <br>
    <textarea name="content" id="content" rows="3" cols="40" required minlength="2" maxlength="500"></textarea>
    <br>
    <input type="submit" value="Lähetä">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  </form>
  <a href="/messages">Takaisin</a>
  </p>
  {% endblock %}  

<script>
  function check(form) {
      if (form.content.value.length > 500) {
          alert("Palaute on liian pitkä");
          return false;
      }
      return true;
  }
  </script>

</html>